.calculator-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(to right, #001257, #0029ff); /* 아이콘의 배경색을 파란색으로 설정 */
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.calculator-window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60%;
    height: max-content;
    padding-bottom: 180px;
    border-radius: 0.85rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    resize: none;
}

.calculator-header {
    padding: 10px;
    background: linear-gradient(to right, #001257, #0029ff);
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator-body {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.speed {
    position: absolute;
    left: 0px;
    padding: 10px;
    bottom: 4rem;
    width: 100%;
}

.estimate-time {
    height: 3rem;
    padding-left: 0.5rem;
}

#closeCalculator {
    border: none;
    background: none;
    color: #fff;
}