@font-face {
  font-family: 'eorzea';
  src: url('../font/eorzea.woff') format('woff2'),
}

* {
  font-family: "Pretendard";
}

.global-navbar {
  background-color: #ffffff62;
}

.global-nav-link {
  text-shadow: #000 10px 0 30px;
}

.eorzea {
  font-family: "eorzea";
  font-weight:800;
}

.card {
  width: 200px;
}

.nav-item.global-nav {
  border-right: 1px solid #666;
}

.nav-item:last-child.global-nav {
  border-right: none;
}