@font-face {
  font-family: 'eorzea';
  src: url('../font/HingashiExtended.woff') format('woff2'),
}
@font-face {
  font-family: 'unsundered';
  src: url('../font/protoAlphabet.woff2') format('woff2'),
}

* {
  font-family: "Pretendard";
}

.global-navbar {
  background-color: #ffffff62;
}

.global-nav-link {
  text-shadow: #000 10px 0 30px;
}

.eorzea {
  font-family: "eorzea";
  font-weight: 800;
}
.unsundered {
  font-family: "unsundered";
  font-weight: 800;
  font-size: 2.7rem;
}

.card {
  width: 200px;
}

.nav-item.global-nav {
  border-right: 1px solid #666;
}

.nav-item:last-child.global-nav {
  border-right: none;
}