body {
    background: url('../img/worldmap1200.png');
    background-size: cover;
    background-position-y: 15%;
}

a {
    text-decoration: none;
}

a:hover {
    box-shadow: 0 0 30px 5px rgba(255, 217, 0, 0.3);
    border-radius: 0.375rem;
    transition: box-shadow 0.1s linear 0.1s;
}

footer {
    color: #eee;
    /* mix-blend-mode: difference; */
    text-shadow:
        1px 1px 2px rgb(0, 0, 0),
        0 0 1em rgb(0, 0, 0),
        0 0 0.2em rgb(0, 0, 0);
}

.opc {
    opacity: 0.8;
}

.opc:hover {
    transition: opacity 0.1s linear 0.1s;
    opacity: 1;
}

.upper-row {
    height: 60vh;
}

.lower-row {
    height: 20vh;
}

.card {
    width: 300px;
}

#eorzea-clock {
    height: 15vh;
}

.timetype, #timer, #normal-clock {
    text-shadow: #ffcc00 1px 0 10px;
}

.timetype {
    font-size:2rem;
}

#timer {
    font-weight:500;
    font-size: 8rem;
}

.dimmed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 0;
}

.main {
    position: relative;
    z-index: 10;
}