.list-group-item {
    background: none;
    color: inherit;
    width: 600px;
}

.help-icon {
    cursor:pointer;
}

.checkcol {
    width:50px;
}

th, td {
    padding-left:0.85rem !important;
}

.official-guide {
    font-size: 0.85rem;
    text-decoration: none;
    color: #000;
}

.tier-hide {
    display: none;
}

.item-name, .region-name{
    color:#000;
    text-decoration: none;
}

.list_left {
    min-width: 200px;
    max-width: 200px;
}

.area-list {
    width: 100%;
}