.list-group-item {
    background: none;
    color: inherit;
    width: 600px;
}

.table-header {
    min-width: 180px;
    font-weight: 800;
}

.table-cell {
    min-width: 120px;
    max-width: 120px;
}

.placename {
    text-align: center;
    word-break: keep-all;
    color:#000;
    text-decoration: none;
    padding-top: 0.3rem;
}

.spoiler {
    filter:blur(5px);
}

.history-back {
    border:none;
    background: none;
    color: #ccc;
}

.name-ko {
    position: absolute;
    left: 280px;
    font-size: 3rem;
    top: 200px;
    opacity: 0.3;
}

.map-img {
    background-color: #ccc;
    height: 350px;
    width: 350px;
}

.forecast-msg {
    width: 500px;
    height: 110px;
    border: 3px solid #AAB0B0;
    background: linear-gradient(#1c4b9b, #031733);
    padding: 20px;
    border-radius: 10px;
    color: #fff;

}

.msg-header {
    background: linear-gradient(to right, #000000, #00000041);
    width: 250px;
    height: 25px;
    padding-left: 5px;
    position: relative;
    top: -30px;
    left: -20px;
    filter: blur(6px);
}

.msg-header-text {
    position: relative;
    top: -53px;
    text-shadow: 0 0 #000;
}

.msg-body {
    position: relative;
    top: -50px;
    white-space: pre-line;
}

.msg-deco {
    position: relative;
    top: -80px;
    left: 445px;
    animation-name: decoFloat;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

 @keyframes decoFloat {
    0% {
        top:-80px;
    }
    100% {
        top:-75px;
    }
}

.forecast-list {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 15px;
}

.hour-et {
    width: 70px;
    color: #555;
}