{% extends 'root.html' %}
{% block header %}<link href="../static/css/weather.css" rel="stylesheet">{% endblock %}
{% block title %}무지개 :: TestPage{% endblock %}
{% block content %}
<div class="container">
  <h3 class="text-center eorzea">Eorzea Rainbow</h3>
  <p class="text-center">곧 무지개가 뜰지도 몰라요!
    <i class="bi bi-question-circle-fill ms-1 help-icon" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="무지개 출현 조건을 만족하는 장소 목록입니다. 무지개가 나오기 전에 미리 해당 장소에 있어야 하며, 무지개는 등장 일시로부터 약 20초간 노출됩니다."></i>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width:13rem;">일시</th>
        <th scope="col">지역</th>
      </tr>
    </thead>
    <tbody>
      {% for datetime in data %}
      <tr>
        <td class="rainbow-time">
          <div>{{ datetime.time }}</div>
        </td>
        <td>
          {% for area in datetime.place %}
          <a href="/weather/detail?id={{ area.id }}" class="badge mx-1 my-1 px-2 py-1 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill link-underline link-underline-opacity-0">
            <span class="place-name">{{ area.place }}</span>
          </a>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="../static/js/tooltip.js"></script>
<script src="../static/js/rainbow.js"></script>
{% endblock %}