{% extends 'root.html' %}
{% block header %}
<link href="../static/css/submarine.css" rel="stylesheet">
<link href="../static/css/calculator.css" rel="stylesheet">
{% endblock %}
{% block title %}잠수함 :: TestPage{% endblock %}
{% block content %}
<div>
    <h3 class="text-center eorzea">Submarine</h3>
    <p class="text-center">잠수함 항해도별 해역 목록</p>
    <div>
        <ul class="nav nav-underline mb-3">
            <li class="nav-item">
                <a href="/submarine?region=6" id="region6" data-value="6" class="nav-link submarine-tab">창망의 바다 남쪽</a>
            </li>
            <li class="nav-item">
                <a  href="/submarine?region=5" id="region5" data-value="5" class="nav-link submarine-tab">자색 바다</a>
            </li>
            <li class="nav-item">
                <a  href="/submarine?region=4" id="region4" data-value="4" class="nav-link submarine-tab">세이렌 해</a>
            </li>
            <li class="nav-item">
                <a  href="/submarine?region=3" id="region3" data-value="3" class="nav-link submarine-tab">비취 바다</a>
            </li>
            <li class="nav-item">
                <a  href="/submarine?region=2" id="region2" data-value="2" class="nav-link submarine-tab">잿빛 바다</a>
            </li>
            <li class="nav-item">
                <a  href="/submarine?region=1" id="region1" data-value="1" class="nav-link submarine-tab">익몰해</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheck" checked>
            <label class="form-check-label" for="switchCheckChecked">상위 보상만 보기<i class="bi bi-question-circle-fill ms-1 help-icon" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="해제 시 모든 보상이 표시됩니다."></i></label>
        </div>
        <table class="table table-hover table-striped caption-top">
            <caption>사이트 데이터: v.{{patch_info}}</caption>
            <thead>
                <tr>
                <th scope="col">해역명</th>
                <th scope="col">탐사 경험치</th>
                <th scope="col">탐사 성능 기준
                    <i class="bi bi-question-circle-fill ms-1 help-icon" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="높은 등급의 아이템을 획득하기 위해 필요한 최소 성능치입니다."></i>
                </th>
                <th scope="col">보상</th>
                <th scope="col">발견 해역</th>
                </tr>
            </thead>
            <tbody id="submarine-tbody" class="table-group-divider">
                {% for row in data %}
                    <tr class="select-area">
                        <td class="area-name">{{ row.name }}<br><small>Rank.{{ row.reqRank }}</small></td>
                        <td>{{ "{:,}".format(row.exp) }}</td>
                        <td>{{ row.minSpec }}</td>
                        <td>
                            <div class="tier-hide"> 🥉
                            {% for item in row.rewards.tier0 %}
                                <a class="official-guide tier0" href="https://guide.ff14.co.kr/lodestone/db/item/{{ item.itemId }}" target="_blank">{{ item.name }}</a>,&nbsp;
                            {% endfor %}
                            </div>
                            <div class="tier-hide"> 🥈
                            {% for item in row.rewards.tier1 %}
                                <a class="official-guide tier1" href="https://guide.ff14.co.kr/lodestone/db/item/{{ item.itemId }}" target="_blank">{{ item.name }}</a>,&nbsp; 
                            {% endfor %}
                            </div>
                            <div> 🥇
                            {% for item in row.rewards.tier2 %}
                                <a class="official-guide tier2" href="https://guide.ff14.co.kr/lodestone/db/item/{{ item.itemId }}" target="_blank">{{ item.name }}</a>
                            {% endfor %}
                            </div>
                        </td>
                        <td>
                            {% for area in row.unlock %}
                                {{ area }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="calculator-icon justify-content-center align-items-center d-flex shadow" id="CalculatorIcon">
    <i class="bi bi-calculator"></i>
</div>
<div class="calculator-window shadow" id="CalculatorWindow">
    <div class="calculator-header d-flex">
        <h5 class="eorzea eorzea ms-auto me-auto mb-0">Voyage Time Calculator</h5>
        <button id="closeCalculator"><i class="bi bi-x"></i></button>
    </div>
    <div class="calculator-body">
        <form id="calculator-form">
            <div class="mb-3">탐사할 잠수함 해역을 1개 이상 선택해주세요.</div>
            <div id="selector-div" class="row row-cols-1 row-cols-md-5 g-2">
                {% for row in data %}
                    <input type="checkbox" class="btn-check" id="{{ row.areaId }}" autocomplete="off" value="{{ row.areaId }}">
                    <label for="{{ row.areaId }}" class="area-labels">
                        <div class="col">
                            <div class="card h-100" data-value="{{ row.areaId }}">
                                <div class="card-body p-2">
                                    <div class="card-text">{{ row.name }}</div>
                                </div>
                                <div class="card-footer p-2">
                                    <div class="card-text"><small class="naviagte-distance">항속 거리 {{ row.distance }}</small></div>
                                </div>
                            </div>
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div class="d-flex flex-column speed justify-content-center">
                <div class="input-group">
                    <span class="input-group-text">순항 속도<i class="bi bi-question-circle-fill ms-1 help-icon" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="순항 속도가 높을수록 탐사에 소요되는 시간이 단축됩니다."></i></span>
                    <input id="speed-input" type="number" class="form-control" placeholder="잠수함의 순항 속도를 입력해주세요" value="170" min="1" max="999" required>
                    <button class="btn btn-outline-primary btn-calculate" type="button" id="btn-calculate"><i class="bi bi-calculator me-1"></i>계산하기</button>
                    <button class="btn btn-outline-danger btn-reset" type="button" id="btn-reset"><i class="bi bi-arrow-clockwise me-1"></i>선택 초기화</button>
                </div>
                <div class="mt-3 estimate-time" id="estimate-time"><div class="alert alert-primary">잠수함 해역을 선택해주세요</div></div>
            </div>
        </form>
    </div>
</div>
<script src="../static/js/submarine.js"></script>
{% endblock %}