name: Smoke Test

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ensure browsers are installed
        run: python -m playwright install chromium webkit --with-deps

      - name: Initialize Database
        run: |
          sqlite3 "$DATABASE" < db_init.sql
        env:
          DATABASE: ${{ secrets.DATABASE }}

      - name: Start Flask Server
        run: |
          echo "Starting Flask server..."
          nohup python app.py > server.log 2>&1 &
          sleep 5
          echo "Flask server started. Checking logs..."
          cat server.log
        env:
          FLASK_RUN_PORT: 5000
          DATABASE: ${{ secrets.DATABASE }}

      - name: Run smoke test
        run: pytest tests/0_smoke --tracing=retain-on-failure
        env:
          DISCORD: ${{ secrets.DISCORD }}
          SLACK: ${{ secrets.SLACK }}
          RUNNER: github
          TEST_SCOPE: main

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: test-results/